Source: toonplayer
Section: python
Priority: optional
Maintainer: Alexandre Quessy <alexandre@quessy.net>
Build-Depends: debhelper (>= 5.0.38), python-all-dev (>= 2.3.5-11), python (>= 2.5), python-central (>= 0.6.0), python-setuptools, help2man, python-twisted, python-gtk2, python-gst0.10
XS-Python-Version: >= 2.5 
Standards-Version: 3.8.0
Homepage: http://svn.sat.qc.ca/trac/lunch

Package: toonplayer
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, python (>= 2.4), python-twisted, python-gtk2, python-gst0.10
Description: Movie player for playing clips made with Toonloop in loops.
