#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Add here any variable or target overrides you need.
binary-install/toonplayer::
	dh_pycentral -ptoonplayer
	#dh_install toonplayer.desktop usr/share/applications
	#convert -geometry 48x48 -background none toonplayer.svg toonplayer.png
	#dh_install toonplayer.png usr/share/pixmaps
	help2man --no-info --name="The Toonplayer Looping Video Player" ./toonplayer --output=toonplayer.1 
	dh_installman toonplayer.1
	dh_installdocs debian/copyright
